
.icon-plus-squared:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */